<header class="container-cabecalho">

    <div class="content-logo-btn-menu">

        <h2 class="logo"><a href="#">Logo aqui</a></h2>

        <div class="content-menu" id="content-menu">

            <nav class="menu-principal">

                <ul class="ul-items-menu">

                    <li class="item" linkInterno="true">    <a href="#home">Home</a></li>

                </ul>

            </nav>

        </div>

        <div class="btn-menu">
            <span class="linha-btn linha-btn-1"></span>
            <span class="linha-btn linha-btn-2"></span>
            <span class="linha-btn linha-btn-3"></span>
        </div>

    </div>


</header>